<!--
  Generated template for the UserEdit component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list>
   <ion-item>
      <div><img [src]="urlPhoto"></div>
      <input type="file" (change)="onChangeFileBrowser($event)">
    </ion-item>

  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)] = 'post.post_title'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Image</ion-label>
    <ion-input [(ngModel)] = 'post.post_image'></ion-input>
  </ion-item>
   <ion-item>
    <ion-label>Message</ion-label>
    <ion-input [(ngModel)] = 'post.post_message'></ion-input>
  </ion-item>
 
</ion-list>
 <button ion-button (click)="onClickPost()">Post</button>
